<nav class="navbar navbar-inverse">
    <div class="container">
      <ul class="footer__list">
        <li><a href="https://github.com/evgeniy-bond">GitHub</a></li>
        <li><a href="https://twitter.com/getbootstrap">Twitter</a></li>
        <li><a href="/">Examples</a></li>
        <li><a href="/">About</a></li>
      </ul>
    </div>
</nav>
